<style>

</style>

<main>
    <h1>Changement de votre mot de passe</h1>
    <p>Pour changer votre mot de passe, cliquez sur le bouton ci-dessous :</p>
    <a href="{{baseUrl}}/auth/change-password?code={{code}}&userId={{userId}}" class="btn btn-primary">Changer</a>
</main>