<style>

</style>

<main>
    <h1>Confirmez votre adresse email</h1>
    <p>Pour confirmez votre adresse email, cliquez sur le bouton ci-dessous :</p>
    <a href="{{baseUrl}}/auth/confirm?code={{code}}&userId={{userId}}" class="btn btn-primary">Confirmer mon adresse email</a>
</main>